html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	width: 0;
}

.body__lock {
	overflow: hidden;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1031;

	width: 100%;
	height: 4px;

	background-color: var(--nprogress-background);

	opacity: 0.75;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.sr-only {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;

	overflow: hidden;

	clip: rect(0, 0, 0, 0);
}
